.fixed-header {
    position: fixed;
    width: 100%;
    background-color: green;
    color: yellow;
    text-align: center;
    z-index: 1000; /*  tiêu đề luôn ở trên cùng */
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    margin-top: 70px; /* tránh bị che bởi tiêu đề */
}

/* Định dạng cho sidebar */
.sidebar {
    position: fixed; /* Đặt thanh taskbar cố định */
    top: 0; /* Vị trí ở trên cùng */
    left: 0; /* Vị trí ở bên trái */
    width: 200px; /* Độ rộng của thanh taskbar */
    background-color: rgba(208,236,242,0.78); /* Màu nền */
    height: 100%; /* Chiều cao bằng 100% */
    padding-top: 20px; /* Khoảng cách từ trên xuống */
    overflow-y: auto; /* Cho phép cuộn dọc nếu nội dung dài */
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}
.sidebar ul li a {
    text-decoration: none;
    color:blue ;
    display: block;
    font-size: 16px;
    padding: 8px;
    transition: background-color 0.3s;
}

.sidebar ul li a:hover {
    background-color: #ddd; /* Thay đổi màu khi hover */
}
.content {
    margin-left: 230px; /* Nhường chỗ cho sidebar */
    flex: 1; /* Đầy đủ không gian còn lại */
    padding: 20px;
    background-color: white;
}

.content section {
    margin-bottom: 20px;
}

.content h2 {
    color: green;
}
img {
    border-radius: 10px; /* Bo góc ảnh */
    display: block; /* Đưa ảnh thành khối */
    max-width: 100%; /* Đảm bảo ảnh không vượt quá khung */
}
